body {
  background-color: powderblue;
}

h1 {
  color: blue;
}

body
{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	font-weight: bold;
}

figure
{
	text-align: center;
  
}

figcaption
{
	font-style: italic;
}

main h2
{
  font-family: courier, serif;
  text-align: center;
 
}

/*Table Activity */ 
table, th, td {
	border:1px solid black;
	text-align: center;
}

table tr:nth-of-type(odd)
{
    background-color: rgb(218, 205, 205);
}

table tr:nth-of-type(even){
    background-color: rgb(184, 169, 169);
}

th
{
  background-color: rgb(87, 79, 79);
  color: white;
}
.center
{
  margin-left: auto;
  margin-right: auto;
}

.tables h3{ 
	text-align: center;
}

/* Forms activity */

form { 
	text-align: center;
    border-style: inset;
    border-color: black;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

button { 
	background-color:powderblue;
	color: gray;
}

button:hover { 
	background-color:darkgray ;
}

/*Slide Show Activity 9 */

#slideshow img {
	width: 100%;
}
#slideshow .height {
	height: 10px;
}
	  
.image-container {
	max-width: 800px;
	position: relative;
	margin: auto;
}
	  
 .next {
	right: 0;
}
	  

.previous, .next {
	cursor: pointer;
	background-color: plum;
	color: white;
	position: absolute;
	top: 50%;
	padding: 10px;
	margin-top: -25px;
}
	  
	  
.slideNumber {
	background-color: #c55555;
	color: white;
	border-radius: 25px;
	right: 0;
	opacity: .5;
	margin: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	position: absolute;
}
.fa {
	font-size: 32px;
}
	  
.fa:hover {
	transform: rotate(360deg);
	transition: 1s;
	color: white;
}
	  
.footerdot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
}
	  
.active, .footerdot:hover {
	background-color: black;
}

#slideshow p { 
	text-align: center;
}


