<footer>
    <br>
    <a href="https://www.instagram.com/hams.creations/"> 
        <img src="images/Instagram_logo_2022.svg.png" width="50" height="50" alt="Link to instagram">
    </a>

    <a href="https://www.facebook.com/groups/130541562296365"> 
        <img src="images/facebook-logo-2022.jpg" width="50" height="50" alt="Link to facebook">
    </a>

    <br>
    <p> Page built by: Bucala Enterprises </p>

    <a href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator">
    </a>
        
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Link to CSS validator">
    </a>
</footer>