<header>
  <h1>Mike Bucala &spades; Magnificent Bear &spades; ITIS 3135 &spades; </h1>
  
  <a href= "home.html">Home </a>
  || 
  <a href= "introduction.html">Introduction </a>
  || 
  <a href= "contract.html">Contract </a>
  || 
  <a href="hobby/index.html">Hobby(Midterm) </a>
  || 
  <a href="tables.html">Tables </a>
  || 
  <a href="forms.html">Forms </a>
  || 
  <a href="polygons.html">Polygons </a>
  || 
  <a href="calculator_try.html">Calculator Try </a>
  || 
  <a href="calculator.html">Calculator Part 2 </a>
  || 
  <a href="arrays.html">Arrays</a>
  || 
  <a href="slideshow.html">Slideshow </a>
  ||
  <a href="activity10.html">Activity 10 </a>
  ||  
  <a href="project/./">Project </a>
  
  
  
</header>
